*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: rgb(8, 28, 41);
  --bg-accent: rgb(0, 60, 100);
  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(0, 149, 255);
}

html {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: Lato, sans-serif;
  line-height: 1.15;
}

html, body {
  height: 100vh;
  overflow: hidden;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  font-family: "Josefin Sans", sans-serif;
}

section > header {
  font-size: 2rem;
  text-align: center;
  padding: 3rem 0 2rem 0;
}

.scroll-container {
  width: 100%;
  overflow: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.scroll-container > section {
  position: relative;
  min-height: max(100vh, 700px);
  min-width: 700px;
  padding-bottom: 7em;
  scroll-snap-align: start;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  gap: 3rem;
  flex-wrap: wrap;
  text-align: justify;
  margin: 0 auto;
}

.column {
  flex-basis: 55ch;
  line-height: 1.5;
  margin-bottom: 3em;
}

article h1, 
article h2, 
article h3, 
article h4, 
article h5,
article h6 {
  margin-bottom: 1.5em;
}